<style>
body{
  margin: 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: transparent !important;
}
html{
  background: #875f42 !important;
}
#wrapper{
  width: 900px;
  margin: 0 auto;
  background:#f2e8c9;
}
#header{
position:relative;
  height: 250px;
  background-color: #ffffff;
  background-image: url(../images/background.png);
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.5) 0px 1px 3px;
}
h1{
  margin:0 0 10px 40px;
  color:#FFF8DC;
}
h3{
  margin: 0;
  color: black;
  text-align: center;
}
.nomer{
  position:absolute;
  top:5px;
  left:680px;
  font-size: 25px;
  font-style:italic;
  font-weight:bold;
  color:#FFF8DC;
}
#sidebar{
  background-color: #ffffff;
  width: 180px;
  padding: 10px;
  float: right;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.5) 0px 1px 3px;
}
.marcer{
  float: left;
  margin: 5px 5px 0 0;
}
#content{
  margin-bottom: 5px;
  width: 676px;
  padding: 10px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.5) 0px 1px 3px;
}
#footer{
  height:80px;
  background-color: #ffffff;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.5) 0px 1px 3px;
}
.clear{
  clear: both;
}
.fon{
  float:left;
  margin:20px 0 0 20px;
}
.fon2{
  float:left;
  margin:20px 0 0 60px;
}
.mail{
  float:left;
  margin:20px 0 0 60px;
}
.products{
  width: 0 auto;
  height:0 auto;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  margin:0 auto;
}
.item{
  width:calc(33.3333% - 10px);
  flex: 0 0 calc(33.3333% - 15px);
  height:0 auto;
  background-color: white;
  margin-bottom:20px;
}
.foto{
  float: none;
  margin: 0;
}
.fig{
  margin: 0;
  text-align: center;
}
</style>
